<form action="{{ path_for('login') }}" method="post">
    {% if errors.general is defined %}
        <ul>
            <li>{{ errors.general }}</li>
        </ul>
    {% endif %}
    <div>
        <label for="email" >Email : </label>
        <input type="email" name="login[email]" id="email" placeholder="user@mail.com" value="{{ data.login.email is defined ? data.login.email }}">
        {% if errors.email is defined %}
            <ul>
                <li>{{ errors.email }}</li>
            </ul>
        {% endif %}
    </div>
    <div>
        <label for="password">Mot de passe :</label>
        <input type="password" name="login[password]" autocomplete="false">
        {% if errors.password is defined %}
            <ul>
                <li>{{ errors.password }}</li>
            </ul>
        {% endif %}
    </div>
    <div>
        <button type="submit">Se connecter</button>
    </div>
</form>