<form action="{{ path_for('register') }}" method="post">
    <div>
        <label for="email" >Email : </label>
        <input type="email" name="register[email]" id="email" placeholder="user@mail.com" value="{{ data.register.email is defined ? data.register.email }}">
        {% if errors.email is defined %}
            <ul>
                <li>{{ errors.email }}</li>
            </ul>
        {% endif %}
    </div>
    <div>
        <label for="firstname">Prénom : </label>
        <input type="text" name="register[firstname]" value="{{ data.register.firstname is defined ? data.register.firstname }}">
        {% if errors.firstname is defined %}
            <ul>
                <li>{{ errors.firstname }}</li>
            </ul>
        {% endif %}
    </div>
    <div>
        <label for="lastname"> Nom : </label>
        <input type="text" name="register[lastname]" value="{{ data.register.lastname is defined ? data.register.lastname }}">
        {% if errors.lastname is defined %}
            <ul>
                <li>{{ errors.lastname }}</li>
            </ul>
        {% endif %}
    </div>
    <div>
        <label for="gender">Homme : </label>
        <input type="radio" name="register[gender]" value="1" {{ data.register.gender is defined and data.register.gender == '1' ? 'checked' }}>
        <label for="gender">Femme : </label>
        <input type="radio" name="register[gender]" value="0" {{ data.register.gender is defined and data.register.gender == '0' ? 'checked' }}>
        {% if errors.gender is defined %}
            <ul>
                <li>{{ errors.gender }}</li>
            </ul>
        {% endif %}
    </div>
    <div>
        <label for="password">Mot de passe :</label>
        <input type="password" name="register[password]" autocomplete="false">
        {% if errors.password is defined %}
            <ul>
                <li>{{ errors.password }}</li>
            </ul>
        {% endif %}
    </div>
    <div>
        <label for="password_confirmation">Confirmation du mot de passe : </label>
        <input type="password" name="register[password_confirmation]" autocomplete="false">
        {% if errors.password_confirmation is defined %}
            <ul>
                <li>{{ errors.password_confirmation }}</li>
            </ul>
        {% endif %}
    </div>
    <div>
        <button type="reset">Annuler </button>
        <button type="submit">Envoyer</button>
    </div>
</form>