<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<a href="{{ path_for('logout') }}">Se deconnecter</a>
<p>
    Connecter en tant que | {{ user.firstname  ~ ' '~ user.lastname|upper }}
</p>
</body>
</html>